@charset "UTF-8";

/* **************************************** *
 * BASE
 * **************************************** */

/* scroll */
::-webkit-scrollbar {
	width: 17px;
}

::-webkit-scrollbar-thumb {
	background-color: #ccc;
	background-clip: padding-box;
	border: 2px solid transparent;
}

::-webkit-scrollbar-track {
	background-color: #f6f6f6;
	box-shadow: inset 0px 0px 0 #444;
}

::placeholder {
	color: #B5B5C3;
	font-size: 14px;
	line-height: 14px !important;
}

hr,
legend .hide,
.hidden,
.collapse,
.close,
.blind {
	display: none;
}

.behind {
	position: absolute;
	top: -9999em;
	left: -9999em;
	overflow: hidden;
	width: 0;
	height: 0;
}

.sr-only,
.hidden,
.blind,
.IR {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.op-0 {
	opacity: 0;
}

.color-red {
	color: #df3232 !important;
}

.color-gray {
	color: #7E8299 !important;
}

.color-orange {
	color: #f0830e !important;
}

.color-blue {
	color: #3699FF !important;
}
.color-violet {
	color: #8950FC !important;
}
.color-green {
	color: #169E97 !important;
}

.font-s12 {
	font-size: 12px !important;
}

.d-flex {
	display: flex;
	align-items: center;
}

.d-flex.stretch {
	align-items: stretch;
}

.d-flex.start {
	align-items: flex-start;
}

.d-flex.end {
	align-items: flex-end;
}

.d-flex.center {
	justify-content: center;
}

.d-flex.between {
	justify-content: space-between;
}

.d-flex.right {
	justify-content: flex-end;
}

.d-flex.wrap {
	flex-wrap: wrap;
}

.d-flex.gap10 {
	gap: 10px;
}

.d-flex.gap30 {
	gap: 30px;
}

/* text-align */
.txt-left {
	text-align: left !important;
}

.txt-center {
	text-align: center !important;
}

.txt-right {
	text-align: right !important;
}
.bold {
	font-weight: 700;
}


/* input style */
input[type="text"],
input[type="password"],
input[type="number"],
textarea {
	margin: 0;
	border: 1px solid #C2C2C2;
	color: #5E6278;
	vertical-align: top;
	box-sizing: border-box;
	font-family: inherit;
	border-radius: 4px;
}

input[type="text"],
input[type="password"],
input[type="number"] {
	height: 34px;
	padding: 2px 10px 4px;
	line-height: 18px;
}

textarea {
	width: 100%;
	height: 65px;
	padding: 15px;
	resize: none;
	resize: both
}

select {
	height: 34px;
	padding: 0 40px 0 10px;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff url(../images/ico_select.png) no-repeat right 10px center;
	border: 1px solid #C2C2C2;
	border-radius: 4px;
}

select::-ms-expand {
	display: none;
}

select:focus,
select:visited,
select:hover {
	background: #fff url(../images/ico_select.png) no-repeat right 10px center;
}

input[type="date"],
input[type="time"] {
	border: 0;
	line-height: 33px;
	min-width: 140px;
	height: 34px;
	font-size: 14px;
	border: 1px solid #C2C2C2;
	border-radius: 4px;
}

input.disable,
select.disable,
textarea.disable {
	background-color: #F5F5F5;
	border: 1px solid #e2e4e8;
}

input[type="date"] {
	border-radius: 4px;
	font-size: 14px;
	position: relative;
	padding-left: 12px;
}

input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button {
	display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
	opacity: 0;
	z-index: 1;
	cursor: pointer;
}

input[type="date"]:after {
	position: absolute;
	top: 50%;
	right: 10px;
	content: '';
	width: 16px;
	height: 16px;
	background: #fff url('../images/ico_cal.png') center center /contain;
	transform: translateY(-50%);
	z-index: 0;
}

input[type=radio],
input[type=checkbox] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	outline: none;
	content: none;
	position: relative;
	width: 18px;
	height: 18px;
}

input[type=radio]:before {
	border-radius: 18px;
}
input[type=checkbox]:before {
	border-radius: 4px;
}

input[type=radio]:before,
input[type=checkbox]:before {
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	border: 1px solid #E0E0E0;	
	cursor: pointer;
	background-color: #fff;
}

input[type=checkbox]:checked:before {
	background: url('../images/ico_checked.png') no-repeat left top;
	width: 18px;
	height: 18px;
	border: 0;
}
input[type=radio]:checked:before {
	background: url('../images/ico_checked_radio.png') no-repeat left top;
	width: 18px;
	height: 18px;
	border: 0;
}
.ico-a {
	font-style: normal;
	text-indent: -9999999999em;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 5px;
}
.ico-a.alert {
	background-image: url('../images/ico_alert.png');
}

/* dl row */
dl.row.col-1 {
	width: 100%;
	padding: 8px 0;
	border-bottom: 1px solid #ddd;
}
p.row.col-1 {
	width: 100%;
	padding: 8px 0 0 15px;
	font-size: 14px;
	font-weight: 600;
}

dl.row.col-2 dt,
dl.row.col-4 dt,
dl.row.col-6 dt {
	width: 140px;
}

dl.row.col-2 dd {
	width: calc(100% - 140px);
}

dl.row.col-4 dd {
	width: calc(50% - 140px);
}

dl.row.col-6 dd {
	width: calc(33.33333% - 140px);
}

dl.row {
	width: 100%;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
}

dl.row.dt-start {
	align-items: flex-start;
}

dl.row.dt-start dt {
	padding-top: 4px;
}

dl.row dt,
dl.row dd {
	position: relative;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 5px 0;
	line-height: 23px;
	font-size: 14px;
}

dl.row dt {
	width: 100%;
	min-height: 34px;
	color: #464E5F;
	font-weight: 700;
}

dl.row dt.al-start {
	align-items: flex-start;
}

dl.row dd {
	text-align: left;
	gap: 8px;
	color: #464E5F;
}

dl.row dd * {
	vertical-align: middle;
}

dl.row dd label>input[type="radio"],
dl.row dd label>input[type="checkbox"] {
	line-height: 24px;
}

/************************** list *******************************/

.bbs table {
	position: relative;
	table-layout: fixed;
	line-height: 1.4;
	width: 100%;
}

.bbs table thead th {
	background-color: #F3F6F9;
	padding: 11px 0 12px;
	border-bottom: 1px solid #C1C6D2;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	color: #868FA0;
}

.bbs table thead th,
.bbs table tbody td {
	border-left: 1px solid #D7E1E9;
}
.bbs table tbody td.line {
	border-right: 1px solid #D7E1E9;
}
.bbs table thead th:first-child ,
.bbs table tbody td:first-child {
	border-left: 0;
}

.bbs table thead th:not(:last-child) {
	border-radius: 4px 0 0 0;
}

.bbs table thead th:last-child {
	border-radius: 0 4px 0 0;
}

.bbs table tbody th {
	padding: 12px 0;
	font-size: 14px;
	color: #212121;
	text-align: center;
	font-weight: 600;
	border-bottom: 1px solid #D7E1E9;
	border-right: 1px solid #D7E1E9;
}

.bbs table tbody td {
	border-bottom: 1px solid #E5E8ED;
	padding: 10px 10px 11px;
	font-size: 14px;
	color: #464E5F;
	text-align: center;
	word-break: break-all;
	letter-spacing: -0.5px !important;
	line-height: 20px;
}
.bbs table tbody tr:hover td {
	background-color: #F5FAFF;
}

.bbs table tbody td .tit {
	display: block;
	text-decoration: underline;
}
.bbs table.tb-inner thead th {
	border-bottom: 0;
	border-color: #D7E1E9;
	border-top: 1px solid #C4C4C4;
}
.bbs table.tb-inner th.blank,
.bbs table.tb-inner td.blank {
	background-color: #fff;
	border: 0;
}

/* SEARCH BOX */
.board-search-box {
	position: relative;
	width: 50%;
}

.board-search-box,
.board-search-box form {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.board-search-box select {
	width: 100%;
	max-width: 160px;
}

.board-search-box .search-word {
	width: 100%;
	max-width: 240px;
	border-color: #D9D9D9;
	border-radius: 4px 0 0 4px;
	margin-left: 8px;
	padding-left: 30px;
	background: url('../images/ico_search.png') no-repeat left 10px center;
}

.board-search-box .search-word:focus {
	color: #333;
}

.board-search-box .bbs-search-btn {
	width: 80px;
	height: 34px;
	margin: 0px;
	margin-left: -1px;
	border: 1px solid #D9D9D9;
	border-left: 0;
	text-align: center;
	color: #464E5F;
	cursor: pointer;
	border-radius: 0 4px 4px 0;
	font-weight: 600;
}


/* pager */
.pager {
	font-size: 0;
	margin: 15px 0 27px;
}

.pager>a:hover {
	border-color: #106FB8;
	color: #106FB8;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.pager>a,
.pager .active {
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	border-radius: 4px;
	font-size: 14px;
	color: #BDBDBD;
	margin: 0 2px;
	line-height: 22px;
	text-align: center;
}

.pager>a:hover,
.pager .active {
	color: #3699FF;
	font-weight: 600;
}

.pager a.arr {
	font-size: 0;
	line-height: 0;
	background-color: #fff;
	position: relative;
	text-indent: -99999999em;
	border: 0;
}

.pager a.arr:hover {
	border-color: #969696;
	-webkit-transition: all .3s;
	transition: all .3s;
}

.pager a.arr:hover::before,
.pager a.arr:hover::after {
	color: #969696;
}

.pager a.arr.prev {
	background: url('../images/pager_prev.png') no-repeat center center;
}

.pager a.arr.next {
	background: url('../images/pager_next.png') no-repeat center center;
}

.pager>select {
	height: 24px;
	vertical-align: middle;
	margin-right: 10px;
}

/* filebox */
.filebox {
	overflow: hidden;
	position: relative;
	height: 40px;
	padding-right: 100px;
	font-size: 15px;
}

.filebox input[type="file"] {
	position: absolute;
	top: -10px;
	left: 0;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.filebox label {
	position: absolute;
	top: 0;
	right: 0px;
	height: 34px;
	color: #fff;
	padding: 0 10px 0 30px;
	background:#464E5F url('../images/ico_down.png') no-repeat top 7px left 10px;
	text-align: center;
	border-radius: 4px;
	line-height: 30px;
	cursor: pointer;
	font-size: 14px;
}

.filebox .upload_name {
	float: left;
	width: 100%;
	border: 1px solid #c2c2c2;
	color: #575a61;
	background: #F5F5F5;
}

i.essen {
	color: #FF0000;
	display: inline-block;
	font-style: normal;
	vertical-align: top;
	padding-left: 5px;
	font-weight: 700;
}

/* tab */
.tabs {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
}
.tabs li a {
	display: block;
	width: 117px;
	padding: 14px 0 16px;
	text-align: center;
	background-color: #F7F7F7;
	font-size: 18px;
	color: #7E8299;
	font-weight: 500;
}
.tabs li:first-child a {
	border-radius: 4px 0 0 4px;
}
.tabs li:last-child a {
	border-radius: 0 4px 4px 0;
}
.tabs li.on a ,
.tabs li a:hover {
	background-color: #464E5F;
	color: #fff;
	border-radius: 4px;
}
.tab-box {
	display: none;
}
.tab-box.on {
	display: block;
}