@charset "UTF-8";
@import url("uikit.css");
@import url("component.css");
@import url("package.css");
@import url("buttons.css");
@import url("layout.css");
@import url("content.css");

/* 나눔스퀘어 */
@font-face {
  font-family: 'NanumSquare';
  font-weight: 400;
  src: url(./fonts/NanumSquareR.eot);
  src: local('☺'),
       url(./fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
       url(./fonts/NanumSquareR.woff) format('woff'),
       url(./fonts/NanumSquareR.ttf) format('truetype');
 }
 @font-face {
  font-family: 'NanumSquare';
  font-weight: 700;
  src: url(NanumSquareB.eot);
  src: local('☺'),
       url(./fonts/NanumSquareB.eot?#iefix) format('embedded-opentype'),
       url(./fonts/NanumSquareB.woff) format('woff'),
       url(./fonts/NanumSquareB.ttf) format('truetype');
 }

 /* noto sans */
 @font-face{
	font-family:"NotoSans";
	font-style:normal; font-weight:700;
	src:url('./fonts/NotoSans-Bold.eot');
	src:url('./fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
	url('./fonts/NotoSans-Bold.woff') format('woff'),
	url('./fonts/NotoSans-Bold.otf') format('opentype'),
	url('./fonts/NotoSans-Bold.ttf') format('truetype');
	src:local('?'), url('./fonts/NotoSans-Bold.woff') format('woff');
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Nanum Square", "sans-serif";
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.5px;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: top;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-spacing: 0;
}
a {
  color: inherit;
}
a,
a:hover,
a:focus {
  color: #3699FF;
}
a:active {
  color: #276FBA;
}
abbr[title] {
  border-bottom: 1px dotted;
}
em,
address {
  font-style: normal;
}
b,
strong {
  font-weight: 700;
}
small {
  font-size: 80%;
}
.small {
  font-size: 13px;
}
img {
  vertical-align: top;
}
hr,
legend,
caption {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 0;
  line-height: 0;
  font-size: 0;
  color: transparent;
  border: none;
  overflow: hidden;
}
pre {
  overflow: auto;
}
button {
  cursor: pointer;
  overflow: visible;
  border: 0;
  background: transparent;
  line-height: 1;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  margin: 0;
  font-family: inherit;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input {
  line-height: normal;
}
button:active > *,
button:focus > * {
  position: relative;
  top: 0px;
  left: 0px;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
caption,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  display: none;
}
td,
th {
  padding: 0;
}
html {
  height: 100%;
  font-size: 16px;
} 
html,
body {
  font-weight: 400;
  color: #4f4f4f;
  line-height: 1.5;
  word-break: keep-all;
  letter-spacing: 0.001em;
}
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
label {
  margin-bottom: 0 !important;
}
textarea {
  padding: 10px;
}
